# if you add a file here, add it to `.npmignore` too
artifacts/
cache/
crytic-export/
node_modules/
typechain/
foundry-out/
out/
.env
.env.local
deployments/
broadcast/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
